[Unit]
Description=Starts the application
After=network.target

[Service]
WorkingDirectory=~/rm/code/2024-Engineer-Motor
ExecStart=./start.sh
Restart=always
User=rm

[Install]
WantedBy=multi-user.target